/*
COLOR PALETTE
Black   #292828
Gray    #5a524c
Red     #ea6962
Green   #a9b665
Yellow  #d8a657
Blue    #7daea3
Magenta #d3869b
Cyan    #89b482
White   #d4be98
White-Lighter #d2c3a7
*/

@font-face{
    src: url(fonts/Hermit-Regular.otf);
    font-family: Hermit;
}

*{
    font-family: 'Roboto', sans-serif, 'Hermit', 'Arial';
}

h1, h2{ color: #ea6962 }

h3, h4{ color: #d3869b }

.text, p, ul, ol, dl, label, hr{ color: #d4b398 }

table{
    background-color: #d8a657;
    border: 5px solid #d8a657;
    border-radius: 5px;
}

#trTop{
    color: #292828;
}

#trBottom{
    color: #292828;
    background-color: #89b482;
}

button{
    font-size: 25px;
    background-color: #7daea3;
    color: #292828;
    border: #00000000;
    border-radius: 30px;
    padding: 8px;
}

#shadowText{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: #d8a657;
    margin-left: 100px;
    text-shadow: 15px 8px 2px #d3869b, -15px -8px 2px #89b482;
}

#shadowBox{
    width: 100px;
    height: 100px;
    background-color: #7daea3;
    border-radius: 10px;
    margin-left: 125px;
    box-shadow: 5px 5px 8px #89b482;
}

#floatBox{
    border: 5px solid #5a524c;
    padding: 30px;
}

#floatHTML{
    float: left;
    margin-right: 30px;
}

#floatCSS{
    float: right;
    margin-left: 30px;
    margin-top: 2%;
}

.overflowBox{
    max-width: 200px;
    max-height: 100px;
    padding: 0px 30px;
    margin-left: 20px;
    margin-bottom: 80px;
    border: 5px solid #5a524c;
    float: left;
}

.overflowTitle{
    overflow: visible;
    width: 300px;
    height: 30px;
    text-align: center;
    color: #d3869b;
    font-weight: bold;
    font-size: 1.1em;
}

#box1.overflowBox{ overflow: visible; }

#box2.overflowBox{ overflow: hidden; }

#box3.overflowBox{
    overflow: clip;
    overflow-clip-margin: 15px;
}

#box4.overflowBox{ overflow: scroll; }

#box5.overflowBox{ overflow: auto; }

button:hover{
    cursor: pointer;
}

a{ text-decoration: none; }

a:link{ color: #a9b665 }

a:visited{ color: #89b482 }

a:hover{ color: #d8a657; }

a:active{
    color: #d8a657;
    font-size: 1.1em;
}

#pseudo a{
    display: block;
}

#pseudo a::first-letter{
    font-size: 2em;
    font-style: italic;
}

#pseudo p::first-line, #pseudo p::selection{
    color: #292828;
    background-color: #d8a657;
}

#pseudo li::before{
    content: '👌';    
}

#pseudo li::after{
    content: '😎'; 
}

#pseudo li::marker{
    content: '✔';
}

.pagination a:visited{ color: #a9b665; }
.pagination a:hover{ color: #d8a657; }
.pagination a:active{
    color : #d8a657;
    font-size: 1em;
}

.pagination a{
    padding: 20px 25px;
    margin: 10px;
    border-radius: 25%;
}

.pagination a.active{
    background-color: #ea6962;
    font-weight: bold;
}

.pagination a:hover:not(.active){
    background-color: #5a524c;
}

header{
    background-color: #d2c3a7;
    border-bottom: solid #7daea3;
    border-radius: 15px;
    border-width: 5px;
}

#headerTitle{
    color: #292828;
    padding-left: 30px;
    padding-top: 30px;
}

body{
    background-color: #292828;
    background-image: none;     /* for BG image, use url(IMAGE_PATH) */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}